[google]
client_id="YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com"
client_secret="YOUR_GOOGLE_CLIENT_SECRET"

[facebook]
client_id="YOUR_FACEBOOK_APP_ID"
client_secret="YOUR_FACEBOOK_APP_SECRET"

[relay]
facebook_relay_url="https://capy-fb-relay.onrender.com"
